fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.title--main,
.title {
  color: var(--white);
  font-size: var(--text-md);
  font-weight: 500;
  padding: var(--sp-100) 0;
}

.title--main {
  position: relative;
  padding-top: var(--sp-500);
}

.title--main::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-image: url(/images/icon-star.svg);
  background-color: hsl(0, 0%, 100%, 0.03);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  top: 5%;
  left: 0;
  padding: var(--sp-100);
}

.submit-btn {
  background-color: var(--orange-500);
  border: none;
  border-radius: 25px;
  padding-block: var(--sp-75);
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--white);
}
