.title--main,
.title {
  color: var(--white);
  font-size: var(--text-md);
  font-weight: 500;
  padding: 0;
  margin-bottom: var(--sp-75);
}

label {
  width: 2.75rem;
  height: 2.75rem;
  background-color: hsl(217, 12%, 63%, 0.08);
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

label:hover {
  background-color: var(--orange-500);
  color: var(--grey-950);
}

label:has(input:checked) {
  background-color: var(--white);
  color: var(--grey-950);
}

.rating-btn {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.submit-btn {
  background-color: var(--orange-500);
  border: none;
  border-radius: 25px;
  padding-block: var(--sp-75);
  margin: var(--sp-150) 0 var(--sp-50);
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--white);
}

.rating {
  border-radius: 20px;
  padding: var(--sp-25) var(--sp-75);
  background-color: hsl(217, 12%, 63%, 0.06);
  color: var(--orange-500);
  margin: var(--sp-75) 0 var(--sp-150);
}
