main {
  display: grid;
  align-items: center;
  min-height: 100vh;
}

.rating-component,
.thank-you-component {
  width: min(25rem, 90%);
  background: radial-gradient(
    circle at top,
    hsl(213, 19%, 18%),
    hsl(213, 19%, 14%),
    hsl(213, 19%, 10%)
  );
  margin-inline: auto;
  padding: var(--sp-150);
  border-radius: 15px;
}

.rating-component .rating-btns {
  display: grid;
  grid-template-columns: repeat(5, auto);
  place-items: center;
}

.rating-component[aria-hidden="true"] {
  display: none;
}

.thank-you-component {
  display: none;
}

.thank-you-component[aria-hidden="false"] {
  display: grid;
  place-items: center;
  text-align: center;
}
