:root {
  --orange-500: hsl(25, 97%, 53%);
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-950: hsl(216, 12%, 8%);

  --text-body: 0.875rem;
  --text-md: 1.5rem;

  --sp-25: 0.25rem;
  --sp-50: 0.5rem;
  --sp-75: 0.75rem;
  --sp-100: 1rem;
  --sp-125: 1.25rem;
  --sp-150: 1.5rem;
  --sp-500: 5rem;

  --font-main: "Overpass", Helvetica, Arial;
}
